.hero {
    width: 100%;
}

.hero-container {
    width: 80%;
    margin: 0 auto;
    margin-top: 60px;
}

.hero-img img {
    width: 100%;
}

.banner2 {
    display: flex;
    gap: 20px;
    padding: 20px;
    background-color: #E1e4e4;
    margin-top: 30px;
}

.hero-img2 img {
    border-radius: 5px;
    width: 700px;
    height: 400px;
    
}

.hero2-content p {
    width: 95%;
    line-height: 20px;
    font-size: 17px;
    word-spacing: 7px;
    color: gray;
    text-align: justify;

}

.hero2-content button {
    background: transparent;
    padding: 15px 20px;
    font-size: 20px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    border-radius: 5px;
}

@media screen and (min-width: 300px) and (max-width: 1100px) {

    .banner2{
        flex-wrap: wrap;
    }
    .hero-img2 img{
        width: 100%;
    }
}

@media screen and (min-width: 300px) and (max-width: 600px) {
    .hero-img2 img{
        height: 300px;
    }
}